*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:sans-serif;
}
html,
body,
#root {
    width: 100%;
    overflow-x: hidden;
}
.container{
    width:min(92%, 1200px);
    max-width: 1200px;
    margin: auto;
}
