*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  font-family: sans-serif;
  color: #1f2533;
  text-rendering: #ffffff;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialised;
  -moz-osx-font-smoothing: grayscale;
}
body{
  min-width: 320px;
  background: #ffffff;
}

a{
  text-decoration: none;
  color: inherit;
}

ul{
  list-style: none;
}
#root{
  width: 100;
}